<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
	<appSettings>
		<add key="EmpFilePath" value="D:\Lab\empLabEmsData.json"/>
		<add key="DeptFilePath" value="D:\Lab\deptLabEmsData.json"/>
	</appSettings>
</configuration>